*.sh
*.avi
cyclonedds_host.xml
yolo26n.pt
yolov8s-world.pt
stgcn_lancer.pt

build/
captures_videos/
distance_logs/
install/
log/
Log/
src/yolo_detectors/resource
src/yolo_detectors/test
src/yolo_detectors/config
src/yolo_detectors/yolo_detectors/build
src/yolo_detectors/yolo_detectors/install
src/yolo_detectors/yolo_detectors/log
data/

test_subscriber_node.py
yolo_world_node.py
train_stgcn.py
inference_stgcn_node.py
collect_data_node.py
double_detection_node.py
mathematical_throw_detection_node.py
test_subscriber_node.py